.frame-rate-ui-wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;
}

.frame-rate-ui-input {
  cursor: pointer;
}
