// $width-standard: 144rem;
// $padding-standard: 5rem;
// $font-big: 6rem;
// $font-medium: 2.8rem;

.landing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  // width: 100vw;
}
