.stroke-size {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2rem;
  height: 2rem;
  border: 0.2rem solid #444;
  cursor: pointer;

  &::before {
    content: '';
    display: block;

    background-color: white;
  }

  &:hover {
    border-color: #888;
  }

  &--1::before {
    width: 30%;
    height: 30%;
  }
  &--2::before {
    width: 45%;
    height: 45%;
  }
  &--3::before {
    width: 60%;
    height: 60%;
  }
  &--4::before {
    width: 75%;
    height: 75%;
  }

  &--selected {
    border-color: gold;

    &::before {
      background-color: gold;
    }
    &:hover {
      border-color: gold;
    }
  }
}
