@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  height: 3.6rem;
  background-color: #2d2d2d;
  padding: 0 2rem;

  &__logo {
    font-family: 'Courier Prime', monospace;
  }

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    background-color: #ffd700;
    border-radius: 0.2rem;
    padding: 0.6rem 1rem;
    margin: 0 0.5rem;

    font-size: 1.4rem;
    color: black;

    transition: all 0.4s;

    &:hover {
      background-color: white;
    }
  }
}
