.tool-panel {
  width: 9rem;
  padding: 0.2rem;

  &__stroke-size {
    display: flex;
    justify-content: space-evenly;

    padding: .1rem;
    height: 2rem;
  }

  &__tools {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 4rem 4rem;
    grid-template-rows: 4rem 4rem;
    gap: .2rem;

    margin-top: .8rem;
  }

  &__colors {
    position: relative;

    width: 9rem;
    height: 9rem;
  }
}
