.tool-panel {
  width: 9rem;
  padding: 0.2rem;

  &__tools {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 4rem 4rem;
    grid-template-rows: 4rem 4rem;
    gap: .2rem;

    margin-top: .8rem;
  }

  &__colors {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: .5rem;
    width: 9rem;
    height: 9rem;
  }
}
