@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  height: 3.6rem;
  background-color: #2d2d2d;
  padding: 0 2rem;

  &__logo {
    font-family: 'Courier Prime', monospace;
  }

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__user-name {
    display: flex;
    align-items: center;

    margin-right: 2rem;
  }
}
