.frame-window {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 14rem;
  height: 14rem;
  border-radius: 0.4rem;
  margin: 1rem;
  background-color: #444;
  cursor: pointer;

  &:hover {
    background-color: #888;

    .frame-delete,
    .frame-duplicate {
      visibility: visible;
    }
  }

  &--selected {
    background-color: gold;

    &:hover {
      background-color: gold;
    }
  }

  &--being-dragged {
    opacity: 0.001;
  }

  &--dragged-over-bottom {
    box-shadow: 0 0.6rem 0.2rem -0.1rem gold;
  }
  &--dragged-over-top {
    box-shadow: 0 -0.6rem 0.2rem -0.1rem gold;
  }
}

.frame-delete,
.frame-duplicate {
  position: absolute;
  right: 0.6rem;
  z-index: 10;

  visibility: hidden;
  width: 4rem;
  height: 4rem;
  pointer-events: visible;

  &:hover {
    background-color: #444;
  }
}

.frame-delete {
  top: 0.6rem;
  border-radius: 0 0 0 0.4rem;
  background: url(./icons/delete-icon.png) center no-repeat;
}

.frame-duplicate {
  bottom: 0.6rem;
  border-radius: 0.4rem 0 0 0;
  background: url(./icons/duplicate-icon.png) center no-repeat;
}

.frame-number {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;
  border-radius: 0 0.4rem 0.4rem;
  background-color: gold;

  color: black;
  font-size: 2rem;
  pointer-events: none;
}

.frame-canvas {
  transform: scale(0.25);
  background: url(./icons/frame-window-bg.png) repeat;
  pointer-events: none;
}
