.frame-window {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 14rem;
  height: 14rem;
  border-radius: 0.4rem;
  background-color: gold;
  cursor: pointer;
  margin-bottom: 1rem;
}

.frame-number {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;
  border-radius: 0.4rem;
  background-color: gold;

  color: black;
  font-size: 2rem;
}

.frame-canvas {
  transform: scale(0.25);
  background: url(./frame-window-bg.png) repeat;
}
